node_modules
.git
.gitignore
.env
accessKeys.json
logs
runtime
test-results
playwright-report
blob-report
playwright/.cache
*.log
.DS_Store
.npm
.pm2
.cache
Docker.md
README.md
tasks
docker-compose*.yml
