API_PORT=3030
PUPPETEER_LAUNCH_LOG=/tmp/puppeteer-launch.log
BROWSER_COUNT=5
# PROXY_DEFAULT="http://username:passwordt@example.org:80"
# PROXY_US="http://username:passwordt@example.org:80"
# PROXY_UK="http://username:passwordt@example.org:80"
# PROXY_CA="http://username:passwordt@example.org:80"
# PROXY_AU="http://username:passwordt@example.org:80"
# PROXY_DE="http://username:passwordt@example.org:80"
# PROXY_FR="http://username:passwordt@example.org:80"
# PROXY_IT="http://username:passwordt@example.org:80"
# PROXY_ES="http://username:passwordt@example.org:80"
# PROXY_PL="http://username:passwordt@example.org:80"
# PROXY_NL="http://username:passwordt@example.org:80"
